<div class="container">
	<div class="col-xs-12">
		<div class="jumbotron standard-margin">
			<h2>Drop us a line</h2>
			<p>
				We'd <em>love</em> to hear from you.
			</p>
			<address>
			  <strong>Simon</strong><br>
			  <a href="mailto:simon@flightcrew.io">simon@flightcrew.io</a>
			</address>
			<p>
				Some pictures on this page were graciously provided by <a href="https://www.flickr.com/photos/canadaq200/">Devon Scott</a>.
			</p>
		</div>
	</div>
</div>