<% provide(:title, "Our Mission") %>
<div class="container">
	<div class="col-xs-12">
		<h2>Mission</h2>
		<p class="lead">At flightcrew.io we believe that every pilot should be able to have a workplace they love. We're here to help with that!</p>
	
		<div class="row">

		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <%= image_tag "list.svg", class: "offer-logo standard-margin" %>
		      <div class="caption">
		        <h3 class="text-center">Extensive</h3>
		        <p class="text-center">Building the most comprehensive pilot job database around the world.</p>
		      </div>
		    </div>
		  </div>

		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <%= image_tag "clock.svg", class: "offer-logo standard-margin" %>
		      <div class="caption">
		        <h3 class="text-center">Up-to-date</h3>
		        <p class="text-center">Ensuring the most up-to-date opportunities are available to pilots.</p> 
		      </div>
		    </div>
		  </div>

		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <%= image_tag "coin-dollar.svg", class: "offer-logo standard-margin" %>
		      <div class="caption">
		        <h3 class="text-center">Affordable</h3>
		        <p class="text-center">Offering the service at an affordable rate to all parties, if not for free.</p>
		      </div>
		    </div>
		  </div>
		</div>

		<p class="lead">For years now, pilots have been relying on hiring websites that require high monthly payments just to submit their resume. That <em>needs</em> to be changed.</p>

		<p class="lead">By joining flightcrew.io you are supporting us on our way to redefining how airlines around the world accept pilot applications.</p>

		<p class="lead">Want to be even more amazing? Express your support on <a href="https://www.facebook.com/flightcrewio">Facebook</a> and <a href="https://twitter.com/flightcrewio">Twitter</a>.</p>
	</div>
</div>