<div class="panel panel-default">
	<div class="panel-body">
		Welcome to your personal JobBoard! Below are opportunities that you are currently eligible for.
	</div>
</div>
<nav class="sub-header">
  <ul class="pager">
    <li><%= link_to "Active jobs", board_path %></li>
    <li><%= link_to "General recruitment", general_path %></li>
  </ul>
</nav>

