<div class="container">
	<div class="col-xs-12">
		<%= link_to "Consistency", admin_panel_home_path %>
		<%= link_to "Fly progress", admin_panel_progress_path %>
		<%= link_to "Untracked airlines", admin_panel_untracked_path %>
	</div>
</div>