<section id="flight-time">
  <div class="container">
    <div class="col-xs-12">

      <h4>Flight Time</h4>

      <p>Please enter all times in <em>decimal hours</em> (ie. 5.5, rather than 5:30)</p>

      <table class="table table-bordered thick-border table-black-border standard-margin">
        <% FLIGHT_HOUR_TYPES.keys.in_groups_of(2) do |group| %>
          <% if group[1].blank? %>

            <% type = group[0] %>
            <tr>
              <%= render "shared/flight_time/table_cell", f: f, args: { type: type, empty_cell: true } %>
            </tr>
          <% else %>

            <tr>
              <% group.each do |type| %>
                <%= render partial: "shared/flight_time/table_cell", locals: { f: f, args: { type: type } } %>
              <% end %>
            </tr>

          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</section>