<section id="medical">
  <div class="container">
    <div class="col-xs-12">

      <h4>Medical Certificate</h4>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 bootstrap-select-row">
      		<%= f.select :medical_license, MEDICAL_LICENSES.values, {include_blank: true}, class: "selectpicker", "data-width" => "auto" %>
      	</div>
      </div>

    </div>
  </div>
</section>