<a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/flightcrewio">
  <i class="fa fa-facebook"></i>
</a>

<a class="btn btn-social-icon btn-twitter" href="https://twitter.com/flightcrewio">
  <i class="fa fa-twitter"></i>
</a>