<p>You have been unsubscribed from all emails. If you were receiving daily reminders, you can always opt for weekly emails instead by modifying your <%= link_to "settings", edit_user_registration_path %>.</p>
