.board {
	hr.small {
    max-width: 100px;
	}

	hr.medium {
		max-width: 300px;
	}

	.jumbotron {
		padding-top: 10px;
		padding-bottom: 30px;

	& > p {
			font-size: 18px;
		}
		.small {
			font-size: 14px;
		}
	}

	tbody > tr > td {
    vertical-align: middle;
	}

	table {
		tr.airline-desc:hover {
			background:#f5f5f5;
		}
		tr.job-desc {
			background:#f5f5f5;
			&:hover {
				background: #cccccc;
			}
		}
		tr.job-active:hover {
			cursor:pointer;
		}
		.airline-name {
			color: #4A6FA5;
		}
		td.no-border  {
			border: none;
		}
	}

	span.medium {
		font-size: 14px;
	}

	.text-red {
		color: #D70230;
	}

	.text-green {
		color: #78BC61;
	}

	.underline {
		text-decoration: underline;
	}
}