.fly {
	.table {
		margin-bottom: 0; 
	}
	.table-thick-border {
		border-width: 5px;
	}

	.added-input {
		margin-bottom: 10px;
	}

	.glyphicon {
		margin-right: 8px;
	}

	.with-glyph {
		margin-bottom: 10px;
	}

	#hidden_field {
		display: none;
	}
}