.fly {
	.title-header {
		/*background: $main-theme-dark;*/
	}
	.table {
		margin-bottom: 0; 
	}
	.added-input {
		margin-bottom: 10px;
	}

	.glyphicon {
		margin-right: 8px;
	}

	.with-glyph {
		margin-bottom: 10px;
	}

	#hidden_field {
		display: none;
	}

	select.form-control {
		display: inline-block;
		width: auto;
	}

	#wmd-input-description-content {
		height: 100px;
	}
}