.main {
	hr.small {
    max-width: 100px;
	}

	hr.medium {
		max-width: 300px;
	}

	.jumbotron {
		padding-top: 10px;
		padding-bottom: 30px;

	& > p {
			font-size: 18px;
		}
		.small {
			font-size: 14px;
		}
	}

	tbody > tr> td {
    vertical-align: middle;
	}

}