.main {
	hr.small {
    max-width: 100px;
	}

	hr.medium {
		max-width: 300px;
	}

	.jumbotron {
	& > p {
			font-size: 18px;
		}
		.small {
			font-size: 14px;
		}
	}

	.bg-orange {
	  color: white;
	  background-color: #f0ad4e;
	}

	.jumbotron {
		padding-top: 10px;
		padding-bottom: 30px;
	}
}