.static_pages {
	/* Landing */
	.background {
	  display: table;
	  position: relative;
	  width: 100%;
	  height: 100%;
	  margin:0;
	  padding:0;
	  background: asset-data-url("bg3.jpg") no-repeat center center scroll;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  background-size: cover;
	  -o-background-size: cover;
	}

	.navbar-landing .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	  background-color:rgba(247,23,53,0);
	  color: #fff;
	}

	.vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
	}

	.jumbotron-landing {
		width: 75%;
		text-align: center;
		margin:0 auto;
		padding:10px 50px 0 50px;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
	  background-color:rgba(238,238,238,0.8);
	}

	.email-field {
		width: 300px;
	}

	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}

	section:nth-of-type(1), section:nth-of-type(3) {
	  background-color: #FCDDBC;
	  padding: 40px 0;
	}

	.offer-tile {
		margin:0 20px;
		padding: 20px;
		height: 280px;
		text-align:center;
		border:1px solid black;
		border-radius: 5px;
	}
	.offer-logo {
		display: block;
		height:80px;
		margin: 0 auto 0 auto;
	}
	#showreel {
		text-align: center;
		.btn-left-margin {
			margin-left: 10px;
		}
	}
	.showreel-wrapper {
		margin: 0;
		padding: 20px 0;
		border-radius: 5px;
	}
	.showreel-logo-wrapper {
		margin: 0 auto 20px auto;
		height: 90px;
		width: 90px;
	}
	.showreel-logo {
		height: 80px;
	}

	#airlines {
		padding-bottom: 20px;
		h2 {
			text-align: center;
		}
	}

	/* Mission */
	.thumbnail {
		padding: 30px 30px 10px 30px;
	}
	.blog {
		p {
			margin-top: 20px;
			font-size: 19px;
			font-weight: 300;
			line-height: 1.4;
		}
	}
}