.registrations {

	#title {
		margin-bottom:20px;
	}

	section:nth-of-type(1) {
		background:#dfe4e6;

		& > .container > div {
			border-left:10px solid #c6cbcc;
			margin-right:-10px;
		}
	}
	
	section:nth-of-type(2) {
		background:#dbb8b8;
		
		& > .container > div {
			border-left:10px solid #cfa3a3;
			margin-right:-10px;
	
			table {
				max-width:740px;
			}
			tr > td:nth-child(2n) {
				/*width of input +16px from input padding*/
				max-width:136px;
				.form-group {
					margin-bottom:0;
				}
				.form-control-feedback {
					top:0;
				}
			}
			.table-black-border, .table-black-border td {
				border-color: #a6a6a6;
			}
		}
	}
	
	section:nth-of-type(4) {
		background:#ede9c9;
		
		& > .container > div {
			border-left:10px solid #dedab4;
			margin-right:-10px;
		}
	}
	
	section:nth-of-type(5) {
		background:#c7e8f9;

		& > .container > div {
			border-left:10px solid #b4d1e0;
			margin-right:-10px;
		}
	}

	section:nth-of-type(3) {
		background:#cae3da;

		& > .container > div {
			border-left:10px solid #b4d6ca;
			margin-right:-10px;
		}
	}

	section:nth-of-type(7) {
		background:#DFDFFF;

		& > .container > div {
			border-left:10px solid #c7c7f2;
			margin-right:-10px;
		}
	}

	section:nth-of-type(6) {
		background:#DCABC0;

		& > .container > div {
			border-left:10px solid #cf97af;
			margin-right:-10px;
		}
	}

	select.form-control {
		display: inline-block;
		width: auto;
	}
}