.registrations {

	.panel-heading h2 {
		margin-top:5px;
	}



	select.form-control {
		display: inline-block;
		width: auto;
	}
	.top-section {
		padding-bottom:5px;
	}
	.section-1-wrapper {
		border-left:10px solid #c6cbcc;
		margin-right:-10px;
	}
	.section-1 {
		background:#dfe4e6;
	}
	.section-2-wrapper {
		border-left:10px solid #d6b9a7;
		margin-right:-10px;
	}
	.section-2 {
		background:#e4ccbd;
	}
	.section-3-wrapper {
		border-left:10px solid #dedab4;
		margin-right:-10px;
	}
	.section-3 {
		background:#ede9c9;
	}
	.section-4-wrapper {
		border-left:10px solid #b4d1e0;
		margin-right:-10px;
	}
	.section-4 {
		background:#c7e8f9;
	}
	.mid-section {
		background:#F5DBCB;
	}
	.mid-container {
		border-left:5px solid #d46e76;
		margin-right:-5px;
	}
	.lower-section {
		background:#D6D5B3;
	}
	.lower-container {
		border-left:5px solid #d46e76;
		margin-right:-5px;
	}
}