.registrations {

	#title {
		margin-bottom:20px;
	}
	
	section:nth-of-type(2) {	
		table {
			max-width:740px;
		}
		tr > td:nth-child(2n) {
			/*width of input +16px from input padding*/
			max-width:136px;
			.form-control-feedback {
				top:0;
			}
		}
		.table-black-border, .table-black-border td {
			border-color: #a6a6a6;
		}
	}

	section:nth-of-type(3n+1) {
		background:#cae3da;

		& > .container > div {
			border-left:10px solid #b4d6ca;
			margin-right:-10px;
		}
	}
	
	section:nth-of-type(3n+2) {
		background:#ede9c9;
		
		& > .container > div {
			border-left:10px solid #dedab4;
			margin-right:-10px;
		}
	}
	
	section:nth-of-type(3n) {
		background:#c7e8f9;

		& > .container > div {
			border-left:10px solid #b4d1e0;
			margin-right:-10px;
		}
	}

	select.form-control {
		display: inline-block;
		width: auto;
	}
}