<% provide(:title, "Overview") %>
<h1>Job Board</h1>
<table class="table">
	<thead>
		<tr>
			<th>Airline</th>
			<th>Hiring Status</th>
		</tr>
	</thead>
	<tr>
		<td>Lufthansa</td>
		<td>Active</td>
	</tr>
</table>