/* Header */

.navbar {
  border:none;
  background-color:rgba(247,23,53,0.8);
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}
.navbar-default .navbar-brand {
  color: #fff;
  font-size: 25px;
  font-family: "Geneva";
}

.navbar-default .nav > li > a {
  color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}

.nav > li > a:hover,
.nav > li > a:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color:rgba(247,23,53,0);
  color: #fff;
}

.navbar-default .navbar-nav > li {
  margin-left:20px;
}

.navbar-default .navbar-text {
  color: #fff;
}

.navbar-default .navbar-link {
  color: #fff;
  text-decoration: underline;
  &:hover, &:focus {
    color: #fff;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.btn-navbar {
  margin:10px 0 10px 0;
}





html,
body {
  height: 100%;
  width: 100%;
}


/* Misc */

.standard-margin {
  margin-top:20px;
}
.label-margin {
  margin-top:7px;
}

td {
	font-size: 15px;
}
th {
	font-size: 17px;
}

.btn-submit {
  margin-bottom: 40px;
}

.real-footer {
  border-top: 1px solid #ccc;
  padding: 20px 0;
}

/* Logo */

.airline-table-logo {
  max-height:20px;
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.airline-heading-logo {
  max-height:30px;
  max-width: 200px;
  margin: 0 20px 10px 0;
}

.boarding {
  margin:0 auto 4px auto;
  display: block;
  margin: 0 auto;
}

#flight-time .checkbox {
  margin-top:0;
}

.block-label {
  display: block;
  &:nth-of-type(n+2):not(.hidden) {
    margin-top:5px;
  }
}

.table-thick-border {
  border-width: 5px;
}
.bottom-thick-border {
  border-bottom-width: 5px;
}

/* Errors */
.error-explanation {
  color: $state-danger-text;
}

/* User and Fly creation */
#flight-time select, #medical select {
  margin-bottom: 15px;
}

/* Disqus */
#disqus_thread {
  margin-top:50px;
}