/* Header */

.navbar {
  border:none;
  background-color: #F71735;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}
.navbar-brand {
  color: #fff;
  font-size: 25px;
  font-family: "Geneva";
}

.nav > li > a {
  color: #fff;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #fff;
}

.nav > li > a:hover,
.nav > li > a:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #F71735;
  color: #fff;
}

.navbar-nav > li {
  margin-left:30px;
}

.navbar-text {
  color: #fff;
}

.navbar-link {
  color: #fff;
  text-decoration: underline;
  &:hover, &:focus {
    color: #fff;
  }
}

.btn-navbar {
  margin:10px 0 10px 0;
}




/* Misc */

.standard-margin {
  margin-top:20px;
}
.label-margin {
  margin-top:7px;
}

td {
	font-size: 15px;
}
th {
	font-size: 17px;
}

.submit-btn {
  margin-bottom: 40px;
}

/* Logo */

.airline-table-logo {
  height:20px;
  display: block;
  margin: 0 auto;
}

.airline-heading-logo {
  height:30px;
  margin: 0 20px 10px 0;
}

.boarding {
  margin:0 auto 4px auto;
  display: block;
  margin: 0 auto;
}

/* Errors */
.error-explanation {
  color: $state-danger-text;
}

/* User and Fly creation */
#flight-time select, #medical select {
  margin-bottom: 15px;
}

/* Disqus */
#disqus_thread {
  margin-top:50px;
}