<div class="real-footer">
	<div class="container">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<div class="footer-text">
				&copy; 2015-<%= Time.now.year %> <%= APP_NAME %> - <%= link_to "Contact Us", contact_path %>
			</div>
		</div>
		<!--<div class="col-xs-6">
			<div class="pull-right">
				<% if user_signed_in? %>
					<%= render "shared/social" %>
				<% end %>
			</div>
		</div>-->
	</div>
</div>