<div class="page-masthead">
  <div class="container">
    <nav class="page-nav">
      <a class="page-nav-item active" href="<%= root_path %>">JobBoard</a>
      <a class="page-nav-item" href="#">Job Alerts</a>
      <a class="page-nav-item" href="#">Login</a>
      <p class="navbar-text navbar-right">
      	Click here to be informed about new opportunities.
      </p>
    </nav>
  </div>
</div>