<div class="page-masthead">
  <div class="container">
    <nav class="page-nav">
      <a class="page-nav-item <%= active?(root_path) %>" href="<%= root_path %>">Home</a>
      
      <%= link_to "Login", new_user_session_path, class: "page-nav-item #{active?(new_user_session_path)}" %>
      <%= link_to "Register", new_user_registration_path, class: "page-nav-item #{active?(new_user_registration_path)}" %>
      <!--<p class="navbar-text navbar-right">
    	 Click here to be informed about new opportunities.
      </p>-->
    </nav>
  </div>
</div>