<section id="additional">
	<div class="container">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<h4>JobPost - Email settings</h4>

			<div class="checkbox standard-margin">
      	<label>
        	<%= f.check_box :email_weekly %><p>Receive weekly emails summarizing applicable jobs (coming soon)</p>
        </label>
      </div>

      <div class="checkbox standard-margin">
      	<label>
        	<%= f.check_box :email_urgent %><p>Be informed by email as soon as new, applicable jobs become available (coming soon)</p>
        </label>
      </div>
		</div>
	</div>
</section>