<section id="medical">
  <div class="container">
    <div class="col-xs-12">

      <h4>Medical Information</h4>

      <% User.medical_information.each do |method, description| %>
        <div class="checkbox standard-margin">
          <label>
            <%= f.check_box method %><p><%= description %></p>
          </label>
        </div>
      <% end %>

    </div>
  </div>
</section>